@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@mixin boutons {
    margin-top: 1em;
    border-radius: 0px;
    border: none;
}

@mixin verticalCenter {
    margin-top: 50%;
    transform: translateY(-50%);
}

@mixin horizontalCenter {
    margin-left: 50%;
    transform: translateY(-50%);
}

$pink:#F55C54;
$black:#333333;
$white:#F5F5F5;

/* CONTAINER */

body {
    background: $pink;
    width: 100%;
    font-family: 'Lato';
    color: $white;
}

.container-fluid {
    padding: 0;
}


/* HEADER */

.navbar {
    height: 3em;
    background: $black;
    text-transform: uppercase;
    padding: 0px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    .search {
        width: 100%;
        margin: auto;
    }
    .searchIcon {
        width: 1em;
    }
    .navbar-brand {
        img {
            width: 8em;
        }
    }
    .nav {
        position: relative;
    }
    .search {
        margin: auto;
    }
    .avatar {
        width: 2em;
        height: 2em;
        border: 1px solid $white;
        border-radius: 5px;
        margin: auto;
    }
    ul {
        display: flex;
        position: relative;
        height: 100%;
    }
    .account {
        display: flex;
        p {
            margin-left: 1em;
        }
    }
    li {
        width: auto;
        height: 100%;
        a {
            width: 11em;
            height: 100%;
            text-decoration: none;
            color: $white;
            display: flex;
            .icon {
                margin: auto;
                margin-left: 1em;
            }
            .add {
                margin-right: 1em;
            }
            p {
                margin: auto;
            }
            .disconnect {
                margin-left: 1em;
                margin-right: 1em;
            }
        }
        img {
            margin-top: 0px;
            width: 1.5em;
        }
        a:hover {
            color: $black;
            background-color: $pink
        }
    }
}


/* FOOTER */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
    background: $black;
    margin: auto;
    text-align: center;
    ul {
        display: flex;
        padding: 0px;
        width: 7em;
        margin: auto;
        text-align: center;
        li {
            display: flex;
            flex-direction: row;
            width: auto;
            margin: auto;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            p {
                color: $white;
                font-size: 1em;
                text-transform: none;
                margin: auto;
                margin-left: 0.2em;
            }
        }
    }
    img {
        width: 1.2em;
    }
    .mentions {
        color: $pink;
        font-size: 0.6em;
        text-transform: uppercase;
        padding: 0px;
        margin-bottom: 0.8em;
    }
    a {
        width: 100%;
        display: flex;
    }
    a:link {
        text-decoration: none;
    }
}


/* LOGO */

.logo {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    width: 20rem;
}


/* SECTION CONTENU */

#contenuAccueil {
    position: absolute;
    display: flex;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .texte {
        width: 20em;
        text-align: justify;
        font-size: 1em;
        position: relative;
        right: 0%;
    }
    .image {
        width: 50%;
        position: relative;
        left: 10%;
        .postit {
            width: 100%;
            right: 0px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


/* TRIANGLES */

.blockTriangles {
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding-top: 3em;
    display: block;
}

.triangle1 {
    position: relative;
    left: -15%;
    top: 50%;
    max-width: 47%;
    height: 75%;
}

.triangle2 {
    position: relative;
    right: -20%;
    top: 50%;
    max-width: 47%;
    height: 75%;
}


/* FORMULAIRE CONNEXION */

.formulaire {
    background-color: $black;
    text-align: center;
    width: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);
    height: 100%;
    p {
        text-transform: uppercase;
        margin: 1.5em auto;
    }
    input {
        border: 1px solid $pink;
        border-radius: 0px;
        margin-top: 0px;
    }
    .btn {
        border: 1px solid $pink;
        border-radius: 0px;
        color: $white;
        background: $black;
        margin-top: 0.8em;
    }
    .oubli {
        color: $pink;
        margin-top: -10px;
        font-size: 0.6em;
        position: absolute;
        right: 54%;
    }
    .col-sm-12 {
        width: 80%;
        padding: 0px;
        left: 50%;
        transform: translate(-50%);
    }
    .col-sm-offset-2 {
        margin: auto;
        padding-top: 0px;
    }
}


/* TRIANGLES FORMULAIRES */

.formulaire::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid $pink;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: 0px;
    top: 1em;
}

.formulaire::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid $pink;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 50%;
    top: 1em;
}

.form-horizontal::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid $white;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: 0px;
    top: 2em;
}

.form-horizontal::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid $white;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 50%;
    top: 2em;
}


/* MODALE CREATION POST-IT */

h4 {
    text-transform: uppercase;
}

.add {
    width: 1em;
    margin: auto;
}

.modal-content {
    background-color: $black;
    border: 1px solid $pink;
    border-radius: 0px;
    width: 50%;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
}

.btn-info {
    display: flex;
    height: 100%;
    margin: auto;
    border-radius: 0px;
    background-color: $black;
    border: none;
    p {
        margin: auto;
    }
    img {
        margin: auto 1em;
    }
}

.btn-info:hover {
    color: $pink;
    background-color: $black;
}

.btn-info:focus {
    background-color: $black;
}

.contenu {
    margin-top: 1em;
    border: solid 1px $pink;
    border-radius: 0px;
}

.titre {
    border: solid 1px $pink;
    border-radius: 0px;
}

.vert {
    background-color: green;
    @include boutons();
}

.vert:hover {
    background-color: #005C00;
}

.vert:focus {
    background-color: $black;
    color: $pink;
}

.orange {
    background-color: orange;
    @include boutons();
}

.orange:hover {
    background-color: #CE8200;
}

.orange:focus {
    background-color: $black;
    color: $pink;
}

.rouge {
    background-color: red;
    @include boutons();
    width: 72px;
}

.rouge:hover {
    background-color: #B80000;
}

.rouge:focus {
    background-color: $black;
    color: $pink;
}

.btn-default {
    border: 1px solid $pink;
    border-radius: 0px;
    background-color: $black;
    color: $white;
}


/* POST-IT */

.contenuAccueil {
    position: absolute;
    display: flex;
    width: 90%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.postit {
    position: absolute;
    top: 0%;
    width: 15%;
    height: auto;
    padding: 1em;
    background-color: $white;
    color: $black;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    .blocDate {
        position: relative;
        width: 100%;
        #triangle-left {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-right: 20px solid green;
            border-bottom: 10px solid transparent;
            right: -10%;
            top: 0%;
        }
        .datePostit {
            font-size: 0.8em;
            width: 100%;
        }
    }
}